@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  @apply p-0 m-0 bg-white text-black min-h-screen;
}

@layer base {
  * {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white min-h-screen;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #fa7275;
  }

  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }

  .recharts-responsive-container {
    height: initial !important;
  }

  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .input-field {
    @apply rounded-md border-blue-900 border-opacity-20 w-[250px] h-[60px] md:w-[400px] lg:w-[500px] focus:border-none;
  }

  .shad-otp-slot {
    @apply text-[40px] font-medium rounded-xl text-blue-400 justify-center flex border-2 border-light-300 size-12 md:size-16 gap-5 !important;
  }
}
